/*
Theme Name: Kiamo
Theme URI: http://gaviasthemes.com/kiamo/
Author URI: http://gaviasthemes.com/
Author: Gaviasthemes Team
Description: The 2018 theme for WordPress is a fully responsive theme that looks great on any device.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
Text Domain: kiamo

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.wp-caption-text{
   text-align: left;
}
.gallery-caption{
   text-align: left;
   font-weight: 700;
}
.bypostauthor{
   text-align: left;
}