/*
Theme Name: Kiamo Child
Description: Child theme for the Kiamo themes
Author: gaviathemes
Template: kiamo
*/

/* header (nav) */


body, h1, h2, h3, h4, h5, h6, p{
	font-family: 'Archivo Narrow', sans-serif;
}
.header-mainmenu {
	background: white;
}

ul.navbar-nav.gva-nav-menu > li > a {
	font-family: 'Archivo Narrow', sans-serif;
}

.header-v2 #gva-mainmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;	
}


.header-v2 ul.navbar-nav.gva-nav-menu > li > a {
	color: black;
	padding: 20px 7px;
}


.header-v2 ul.navbar-nav.gva-nav-menu > li > a:hover,
.header-v2 ul.navbar-nav.gva-nav-menu > li > a:active,
.header-v2 ul.navbar-nav.gva-nav-menu > li > a:focus,
.header-v2 ul.navbar-nav.gva-nav-menu > li.current-menu-item > a {
	color: #5576AB;
}

.header-v2 ul.navbar-nav.gva-nav-menu > li > a:after {
	display: none;
}

.header-hotline-group,
.language-wrapper {
	text-align: right;
}


.header-top-mobile{
	float: left;
	width: 100%;
	background: #ccc;
}

.header-top-mobile .cta .button-style-1 {
	display: inline-block;
	padding: 0px 20px;
	color: white;
	background: #6893EE;
	border-radius: 2px;
	line-height: 30px;
	font-size: 13px;
}

.header-mobile{
	padding-top: 0px;
	padding-bottom: 0px;
}
.header-mobile .language-wrapper{
	float:left;
	width: auto;
	line-height: 30px;
	font-size: 13px;
}
.header-mobile .language-wrapper a{
	float: left;
}

.header-mobile .cta{
	float: right;
	width: auto;
}

.language-wrapper .lang-sinhala {
	font-size: 12px;
	margin-right: 10px;
}

.header-hotline-col,
.language-col {
    margin-top: 25px;	
}

.cta-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;	
}

.header-v2 .main-search {
	position: static;
	width: initial;
	height: initial;
	margin: 20px;
}

.header-v2 .main-search a {
	color: black;
}

.header-v2 .hidden-lg .main-search {
	text-align: right;
}






/* buttons */

.cta {
	text-align: right;
}

.btn-view a {
	padding: 13px 40px !important;
	text-transform: capitalize;
	border-bottom: 3px solid #6260B9 !important;
}

.cta .button-style-1 {
	display: inline-block;
	padding: 5px 20px;
	color: white;
	background: #6893EE;
	border-radius: 2px;
}

.cta .button-style-1:hover {
	color: white;
}

#human-rights-row {
	position: relative;
}

#human-rights-row .main-paragraph {
	margin-bottom: 0;
}

#human-rights-row #btn-complaint {
	position: absolute;
	top: 20%;
	right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

#human-rights-row #btn-complaint button {
	text-transform: none;
}

#human-rights-row #btn-complaint button i {
	font-size: 20px;
}






/* typography */
.main-paragraph,
.section-title {
	font-family: 'EB Garamond', serif;
}

.main-paragraph p {
	margin-bottom: 0;
	font-size: 16px;
}

.section-title {
	padding-bottom: 20px;
}

.gsc-heading .title{
	font-size: 27px;
	letter-spacing: 1px;
}





/* slider */
/* #carousel-2947 - is of the current activities slider  */

.wcp-carousel-main-wrap .rpc-bg {
	position: relative;
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap {
	position: absolute;
	top: 80%;
	bottom: -100px;
	padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;            	
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap h3,
.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap .wcp-post-contents {
	z-index: 1;
}


.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap::before {
	content: "";
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #E8EEF8), to(transparent));
	background: -webkit-linear-gradient(bottom, #E8EEF8 35%, transparent 100%);
	background: -o-linear-gradient(bottom, #E8EEF8 35%, transparent 100%);
	background: linear-gradient(to top, #E8EEF8 35%, transparent 100%);	
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;  	
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap::after {
	content: "";
	position: absolute;
	top: 0%;
	left: 0;
	right: 0;
	bottom: 0;	
	background: -webkit-gradient(linear, left bottom, left top, color-stop(4%, rgb(104, 147, 238)), color-stop(70%, rgba(139, 183, 237, 0.85)));
	background: -webkit-linear-gradient(bottom, rgb(104, 147, 238) 4%, rgba(139, 183, 237, 0.85) 70%);
	background: -o-linear-gradient(bottom, rgb(104, 147, 238) 4%, rgba(139, 183, 237, 0.85) 70%);
	background: linear-gradient(to top, rgb(104, 147, 238) 4%, rgba(139, 183, 237, 0.85) 70%);
	opacity: 0;	
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;	
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap .post-carousel-btn {
	display: inline-block;
	padding: 5px 40px 5px 20px;
	color: #3E3CAD;
	text-transform: capitalize;
	background: white;
	border-radius: 2px;
	margin-top: 20px;
	position: relative;
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap .post-carousel-btn::after {
	content: "\f178";
	font-family: FontAwesome;
	width: 20px;
	position: absolute;
	right: 8px;
	top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap .post-carousel-btn,
.wcp-carousel-main-wrap .post-style-2 .wcp-content-wrap .wcp-post-contents {
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;  	
	opacity: 0;
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap {
	top: 0;
	bottom: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
           	
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap::before {
	opacity: 0;
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap::after {
	opacity: 1;
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap .post-carousel-btn {
	opacity: 1;	
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap h3 {
	opacity: 1;	
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap h3 a {
	color: white;
}

.wcp-carousel-main-wrap .slick-slide:hover .post-style-2 .wcp-content-wrap .wcp-post-contents {
	opacity: 1;	
	color: white;
}






/* common alterations */
.heading-line {
	display: none;
}




/* home page banner */
.rev_slider_wrapper .slotholder::after {
    content: '';
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5) 20%);
    background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5) 20%);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5) 20%);
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
}

.banner-title {
	cursor: pointer;
}



/* newsletter section */
#newsletter-subscription-row {
	padding: 40px 10px;
}

#newsletter-subscription-row .wpb_content_element {
	margin-bottom: 0;
}

#mailpoet_form_1 .mailpoet_form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: 'Archivo Narrow', sans-serif;	
}

#mailpoet_form_1 .mailpoet_paragraph {
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin-bottom: 0;		
}

#mailpoet_form_1 .mailpoet_paragraph .parsley-errors-list {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	font-size: 16px;
	background: #ec7b7b;
	color: white;
	padding: 8px 5px;	
}

.parsley-custom-error-message {
	color: white !important;
}

.form-text {
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
	margin-right: 15px;
}


#mailpoet_form_1 .mailpoet_paragraph input[type="email"] {
	padding: 15px;
	width: 400px;
	font-size: 18px;
}

#mailpoet_form_1 .mailpoet_paragraph input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B0B0B0;
  letter-spacing: 1px;
}
#mailpoet_form_1 .mailpoet_paragraph input[type="email"]::-moz-placeholder { /* Firefox 19+ */
  color: #B0B0B0;
  letter-spacing: 1px;
}
#mailpoet_form_1 .mailpoet_paragraph input[type="email"]:-ms-input-placeholder { /* IE 10+ */
  color: #B0B0B0;
  letter-spacing: 1px;
}
#mailpoet_form_1 .mailpoet_paragraph input[type="email"]:-moz-placeholder { /* Firefox 18- */
  color: #B0B0B0;
  letter-spacing: 1px;
}

#mailpoet_form_1 .mailpoet_paragraph input[type="submit"] {
	border: 2px solid white;
	background: #5F88DF;
	color: white;
	padding: 14px 30px;
	font-size: 18px;
	letter-spacing: 1px;
	outline: none;
}






/* common page styles */
.main-page h1.title {
	display: none;
}

.page-header-row {
	margin-top: 50px;
	padding-top: 150px;
	padding-bottom: 100px;
}

@media (max-width: 992px) {
	.page-header-row {
		margin-top: 0;
		padding-top: 100px;
	}
}

.page-header {
	border-bottom: none;
}

.parent-page-title {
	font-size: 18px;
	font-weight: 200;
	line-height: 18px;
	margin-bottom: 0;
}

.page-title {
	font-size: 50px;
}










/* footer */
.development-copyright {
	text-align: right;
}


#wp-footer #media_image-2 {
	margin-top: 40px;
}

#wp-footer .widget .footer-contact-address {
	margin-left: 50px;
}

#wp-footer .widget .hotline-group span {
	color: #5576AB;
}

#wp-footer .widget .widget-title {
	text-transform: capitalize;
	color: #5576AB;
	margin-bottom: 0;
	margin-top: 5px;
}

#wp-footer .widget .widget-title::after {
	display: none;
}



.fullwidth{
	float: left;
	width: 100%;
}

.banner{
	padding:200px 0px 100px 0px;
	text-align: center;
	background-size: cover;
	background-position: center;
}

.banner h2{
	color: #ffffff;
	text-align: center;
	font-family: EB Garamond;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 0;
	line-height: 26px;
}

.banner h1{
	color: #ffffff;
	text-align: center;
	font-family: Archivo Narrow;
	font-weight: 400;
	font-style: normal;
	text-transform: capitalize;
	font-size: 45px;
	letter-spacing: 0;
	line-height: 46px;
	font-weight: 700;
}

.content-page-wrap{
	float: left;
	width: 100%;
}

.submenubox{
	float: left;
	width: 100%;
	padding:15px 0px;
}

.submenubox ul{
	float: left;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.submenubox ul li{
	list-style-type: none;
	display: inline-block;
	margin: 0px 20px;
}

.submenubox ul li a{
	font-size: 16px;
	letter-spacing: 0;
	line-height: 35px;
	color: #161616;
	font-weight: 500;
	font-family: Archivo Narrow;
}

.submenubox ul li a:hover, .submenubox ul li.current_page_item a{
	color:#28269B;
}

.ptext-small p{
	font-family: Archivo Narrow;
	font-size: 15px;
	color: #141414;
	letter-spacing: 0;
	line-height: 24px;

}


.ptext-big .wpb_wrapper{
 	text-align: center;
}


.ptext-big .wpb_wrapper .gsc-icon-box{
	float: none;
	display: inline-block;
	margin-bottom: 0px;
}


.ptext-big .wpb_wrapper .gsc-icon-box.left .highlight-icon{
	padding: 0px 10px 0 0 ;
}

.ptext-big .wpb_wrapper  .title{
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 25px;
	color: #000000;
	letter-spacing: 0.57px;
	line-height: 23px;
}

.ptext-big p{
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
	line-height: 28px;
	font-family: EB Garamond;
}

.gsc-icon-box.box-background.icon-box{
	margin: 0px;
	padding: 50px 0px;
	text-align: center;
	border-radius: 0px;
}

.icon-box.gsc-icon-box.top-center .title{
	max-width: 350px;
	float: none;
	display:inline-block;
	font-family: Archivo Narrow;
	font-size: 20px;
	color: #000000;
	letter-spacing: 0.39px;
	text-align: center;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.icon-box.gsc-icon-box.top-center .title:after{
	background:#C5C5DB;
	width: 100px;
	left:45%;
}

.icon-box.gsc-icon-box.top-center .highlight_content .desc{
	font-family: EB Garamond;
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	letter-spacing: 0.39px;
	text-align: center;
	line-height: 26px;
	max-width: 400px;
	float: none;
	display: inline-block;
}

.hrcact-text .widget_text .widgettitle{
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 30px;
	color: #000000;
	letter-spacing: 0.57px;
	line-height: 34px;
	text-transform: none;
	padding: 0px;
}

.hrcact-text  .widget-title:after{
	width: 0px;
	background: #fff;
}

.hrcact-text  p{
	font-family: EB Garamond;
	font-size: 15px;
	color: #141414;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 24px;
}


.hrc-plan-page  p{
	padding: 50px 0px;
	font-family: EB Garamond;
	font-size: 15px;
	color: #141414;
	letter-spacing: 0;
	line-height: 24px;
	text-align: left;
}

.hrc-plan-page .widget{
	text-align: center;
}

.hrc-plan-page .widget .widgettitle{
	font-family: EB Garamond;
	font-weight: 500;
	font-size: 19px;
	color: #FFFFFF;
	letter-spacing: 0.39px;
	text-align: center;
	line-height: 20px;
	padding: 20px 20px 0px 20px;
	text-transform: none;
	padding: 20px 0 0 0 ;
	margin: 0px;
}


.hrc-plan-page .widget .title a{
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 30px;
	color: #E8E7F4;
	letter-spacing: 0.77px;
	text-align: center;
	line-height: 36px;
}

.hrc-plan-page .widget .desc{
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 25px;
	color: #99BAFF;
	letter-spacing: 0.71px;
	text-align: center;
	line-height: 34px;
}

.hrc-plan-page .gsc-icon-box.top-center .title:after{
	background: transparent;
	width:0px;
}



.team-page .widgettitle{
	text-align: center;
	padding:0px;
	margin:0px;
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 30px;
	color: #000000;
	letter-spacing: 0.57px;
	line-height: 34px;
	text-transform: none;
}

.team-page .team-content{
	text-align: center;
}

.team-page .team-content .team-name a{
	font-family: Archivo Narrow;
	font-weight: 600;
	font-size: 16px;
	color: #151515;
	letter-spacing: 0;
	text-align: center;
	line-height: 27px;

}

.team-page .team-content .team-job{
	font-family: Archivo Narrow;
	font-size: 13px;
	color: #676767;
	letter-spacing: 0;
	text-align: center;
	line-height: 25px;

}

.team-page .team-content .team-body{
	display: none;
}


.team-page  .vc_tta.vc_tta-accordion .vc_tta-panel .vc_tta-panel-heading{
	background: transparent;
	border:0px;
}

.team-page .vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-heading{
	background: #5F88DF;
	border:0px;
}

.wpb-js-composer .team-page .vc_tta.vc_general .vc_active .vc_tta-panel-title>a{
	padding: 15px 40px;
	font-family: Montserrat-Regular;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 30px;
	color: #585858;
}


.wpb-js-composer .team-page .vc_tta.vc_general .vc_tta-panel-body{
	border:0px;
	background: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.18);
	padding: 30px;
}

.wpb-js-composer .team-page .vc_tta.vc_general .vc_tta-panel-body ul{
	padding:0px;
	list-style-type: none;
	margin: 0px;
}

.wpb-js-composer .team-page .vc_tta.vc_general .vc_tta-panel-body ul li{
	font-family: Montserrat-Regular;
	font-size: 15px;
	color: #151515;
	letter-spacing: 0;
	line-height: 27px;
	padding-bottom: 5px;
}

.wpb-js-composer .team-page .vc_tta.vc_general .vc_tta-panel-body ul li em{
	 font-style: normal;
	font-size: 13px;
	color: #676767;
	letter-spacing: 0;
	text-align: center;
	line-height: 15px;
	padding-left: 20px;
}

 .wpb-js-composer .team-page .vc_tta.vc_general .vc_active .vc_tta-panel-title>a{
	color: #FFFFFF;
}

.wpb-js-composer .team-page .vc_tta.vc_general   .vc_tta-panel-title>a i{
	width: 20px;
	height:20px;
	background: url("images/arrowhead-gray-down.png") center no-repeat;
	margin-top:5px;
}

.wpb-js-composer .team-page .vc_tta.vc_general .vc_active .vc_tta-panel-title>a i{
	background: url("images/arrowhead-white-down.png") center no-repeat;
}


.wpb-js-composer .team-page .vc_tta.vc_general   .vc_tta-panel-title>a i::before{
	display: none;
}
.wpb-js-composer .team-page .vc_tta.vc_general   .vc_tta-panel-title>a i::after{
	display: none;
}


.report-page .vc_column_container{
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
}


.report-page .widget .widgettitle{
	font-family: EB Garamond;
	font-weight: 500;
	font-size: 19px;
	color: #FFFFFF;
	letter-spacing: 0.39px;
	text-align: center;
	line-height: 20px;
	padding: 20px 20px 0px 20px;
	text-transform: none;
	margin: 0px;
}

.report-page .widget .title a{
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 30px;
	color: #E8E7F4;
	letter-spacing: 0.77px;
	text-align: center;
	line-height: 36px;
}

.report-page  .highlight_content .desc {
	font-family: Archivo Narrow;
	font-weight: 700;
	font-size: 25px;
	color: #99BAFF;
	letter-spacing: 0.71px;
	text-align: center;
	line-height: 34px;
}

.pdf-list ul{
	padding: 0px 0 0 30px;
	margin:0px;
	list-style-image: url("images/icon-pdf.png");
	font-family: Archivo Narrow;
	font-weight: 500;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0.46px;
	line-height: 21px;
}


.pdf-list ul li{
	padding-bottom: 25px;
}


#mailpoet_form_1 .mailpoet_validate_error{
	margin-left: 30px;
	color: #fff !important;
	padding: 10px 15px;
	background: #7c1212;
}

.vc_custom_1526620924628{
	background: url("images/newsletter-bg.jpg") center no-repeat;
	background-size: cover;
}



/* divisions */

.banner.banner-region{
 background: url("images/banner-divisions.jpg") center no-repeat;
	background-size: cover;
}

.divisiondata{
	padding-bottom: 40px;
}

.divisiondata h3{
	font-weight: 700;
	font-size: 25px;
	color: #000000;
	letter-spacing: 0.57px;
	line-height: 34px;
}

.divisiondata p , .divisiondata p .s1{
	font-family: EB Garamond;
	font-weight: 500;
	font-size: 15px;
	color: #141414;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 0px;
}

.divisiondata h4{
	font-weight: 500;
	font-size: 15px;
	color: #141414;
	letter-spacing: 0;
	line-height: 22px;
	margin-bottom: 0px;
}

.divisiondata ul{
	font-weight: 400;
	font-size: 13px;
	color: #141414;
	letter-spacing: 0;
	line-height: 22px;
	float: left;
	width: 100%;
	margin:0 0 20px 0;
	padding: 0;
}

.divisiondata ul li{
	list-style-type: none;
	float: left;
	width: 100%;
}
.divisiondata .sidebar-division span{
	font-weight: 400;
	font-size: 13px;
	color: #141414;
	letter-spacing: 0;
	line-height: 22px;
	float: left;
	width: 100%;
	margin-bottom:20px;
}


.divisiondata .sidebar-division span b{
	font-weight:400;
}
.divisiondata  .division-info{
	margin-bottom:40px;
}

.divisiondata .contactbox{
	background-image: linear-gradient(-101deg, #E2E3EE 4%, #E1E3EA 97%);
	padding: 40px;
	margin-bottom: 40px;
}


.divisiondata .contactbox p{
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
	line-height: 28px;

}

.poptable-mobile{
	display: none;
}



.poptable td{
	border:1px solid #fff;
	background: #fff;
	padding: 5px 15px;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	color: #3B3B3B;
	letter-spacing: 0;
}



.poptable td.firstrow{ 
	background: #3C62B2;
	color: #fff;
}

.poptable th{
	border:1px solid #fff;
	background: #5F88DF;
	padding: 5px 15px;
	text-align: left;
	font-size: 15px;
	font-weight: 400;
	color: #3B3B3B;
	letter-spacing: 0;
	color: #fff;
	vertical-align: middle;
}

.poptable th.popultion-title{
	text-align: center;
}

.poptable .poptable-headsub th{
	background: #3C62B2;
}



/* contact page */

.contact-inner .wpb_wrapper{
	float: right;
	max-width: 450px;
	width: 100%;
	padding-bottom: 25px;
}


.contact-inner .wpb_wrapper h2{
	font-weight: 500;
	font-size: 25px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 26px;

}

.contact-inner .wpb_wrapper p{
	font-weight: 500;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 28px;
	float: left;
	width: 100%;
}

.contact-inner .wpb_wrapper p i{
	float: left;
	font-style: normal;
	width: 80px;
}
.contact-inner .wpb_wrapper p b{
	font-weight: 500;
	float: left;
	width:calc(100% - 90px);
}

.contact-inner .wpb_wrapper p a{
	color: #fff;
}

.contactbox{
	float:left;
	width: 100%;
	max-width: 620px;
	padding-left: 40px;
}


.contactbox h2{
	text-align: center;
	  font-weight:700;
	font-size: 25px;
	color: #0A2F63;
	letter-spacing: 0.57px;
	line-height: 34px;
}

.contactbox p{
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 15px;
	color: #141414;
	letter-spacing: 0;
	text-align: center;
	padding:0px;
	margin:0px;
}

.contactbox .form-line{
	float: left;
	width: 100%;
}

.contactbox .form-line span{
	float: left;
	width: 100%;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0.84px;
	line-height: 28px;
	margin: 20px 0 6px 0px;
}


.ho-contacts-out .widgettitle{
	font-weight:bold;
	font-size: 25px;
	color: #080808;
	letter-spacing: 0.57px;
	text-align: center;
	line-height: 34px;
}

.ho-contacts-out table{
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.18);
	border:1px solid #fff;
	border-left: 1px solid  rgba(0,0,0,0.18);
	border-right: 1px solid  rgba(0,0,0,0.18);

}

.ho-contacts-out table thead th{
	background: #5F88DF;
	padding: 5px 20px;
	text-align: left;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0;
	border:1px solid #fff
}

.ho-contacts-out table thead th.thead{
	background: #3C62B2;
}

.ho-contacts-out table tbody td{
	background: #fff;
	border:0px;
	font-size: 15px;
	color: #3B3B3B;
	padding: 5px 20px;
	letter-spacing: 0;
}


.contactbox .form-line span.wpcf7-form-control-wrap{
	margin: 0px;
}
.contactbox .form-line-right{
	float: left;
	width: 50%;
	padding-left: 15px;
}

.contactbox .form-line-left{
	float: left;
	width: 50%;
	padding-right: 15px;
}

.contactbox .form-line.btnline{
	margin-top:25px;
	text-align: center;

}

.contactbox .form-line.btnline input{
	text-align: center;
	font-weight: 600;
	font-family: ArchivoNarrow-SemiBold;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 14px;
	background: #3E3CAD;
	height: 43px;
	line-height:45px;
	display: inline-block;
	padding: 0px 40px;
	text-transform:capitalize;
	border-radius: 3px;
	border-bottom: 3px solid #28269B;
}

.contactbox .form-line input[type="text"]{
	float: left;
	background: #F1F3F5;
	border: 1px solid #E1E9F0;
	width: 100%;
	height:45px;
	padding: 0px 15px;
	line-height: 45px;
}


.contactbox .form-line textarea{
	float: left;
	background: #F1F3F5;
	border: 1px solid #E1E9F0;
	width: 100%;
	padding:   15px;
	resize: none;
	height:100px;
}

 .has-right-sidebar, .single-post .post-thumbnail{
	margin-top:140px;
}

.archive article{
	float:left;
	width: 100%;
}

.archive article .post-thumbnail{
	width: 45%;
	float: left;
}

.archive article  .post-content {
	width: 55%;
	float: left;
	padding-left: 30px;
}


div.wpcf7-response-output{
	float:left;
	width:100%;
	margin:  0 0 30px 0px;

}

div.wpcf7 .ajax-loader{
	margin-top: 10px;
	background-repeat: no-repeat;
}


#rev_slider_1_1_wrapper{
	margin-top:130px !important;
}


/* Responsive */


@media (max-width: 1200px) {
	#human-rights-row {
		text-align: center;
	}

	#human-rights-row #btn-complaint {
		position: initial;
		margin: 50px 0 0 0;
	}

	.header-v2 ul.navbar-nav.gva-nav-menu > li > a {
		padding: 10px 7px;
	}

	ul.navbar-nav.gva-nav-menu > li{
		margin-right:10px;
	}

	ul.navbar-nav.gva-nav-menu > li > a{
		font-size: 13px;
	}
}


@media (max-width: 992px) {

	ul.navbar-nav.gva-nav-menu > li > a{
		font-size: 15px;
	}

	.tparrows {
		top: 105% !important;
	}

	.tp-leftarrow {
		left: -10% !important;
	}

	.tp-rightarrow {
		left: 110% !important;
	}

	.single-post .post-thumbnail, .has-right-sidebar{
		margin-top:0px;
	}


	ul.navbar-nav.gva-nav-menu > li .submenu-inner, ul.navbar-nav.gva-nav-menu > li ul.submenu-inner{
		margin-left: -20px;
	}

	ul.navbar-nav.gva-nav-menu > li .submenu-inner:before, ul.navbar-nav.gva-nav-menu > li ul.submenu-inner:before{
		display: none;
		opacity: 0;
	}

	.header-mobile .canvas-menu{
		margin-top: 0px !important;
	}

	.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li ul.submenu-inner li a, .gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li div.submenu-inner li a{
		margin:0px;
	}


	#rev_slider_1_1_wrapper{
		margin-top: 0px !important;
	}


}

@media (max-width: 880px) {
	.tparrows {
		top: 107% !important;
	}
}



@media (max-width: 768px) {
	#mailpoet_form_1 .mailpoet_form,
	#mailpoet_form_1 .mailpoet_paragraph {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.form-text {
		margin-bottom: 20px !important;
		margin-right: 0;
	}

	#mailpoet_form_1 .mailpoet_paragraph .parsley-errors-list {
		position: initial;
	}

	#mailpoet_form_1 .mailpoet_paragraph input[type="submit"] {
		padding: 10px 30px;
		font-size: 16px;
		margin-top: 20px;
	}

	.development-copyright {
		text-align: left;
		margin-top: 10px;
	}

	.banner-title {
		font-size: 20px !important;
		line-height: 20px !important;
		white-space: normal !important;
	}

	.banner-date {
		font-size: 16px !important;
		line-height: 16px !important;
	}

	.poptable-mobile{
		display: inline-table;
	}

	.poptable-desktop{
		display: none;
	}

	.archive article .post-thumbnail{
		width: 100%;
	}

	.archive article  .post-content {
		width: 100%;
		padding-left:  0px;
	}


	.contactbox {
		padding: 30px;
		max-width: 100%;
	}

	.contact-inner .wpb_wrapper{
		max-width: 100%;
	}

	.contact-data-box .wpb_column{
		width:100%;
		float: left;
	}

}


@media (max-width: 767px) {

}


@media (max-width: 580px) {
	.tp-mask-wrap {
		left: -50px !important;
		width: 300px;
	}

	.banner-title {
		font-size: 18px !important;
		line-height: 23px !important;
	}

	.banner-date {
		margin-top: 70px !important;
	}
}



@media (max-width: 480px) {
	#mailpoet_form_1 .mailpoet_paragraph input[type="email"] {
		width: 300px;
		font-size: 14px;
	}

	#mailpoet_form_1 .mailpoet_paragraph input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size: 15px;
	}
	#mailpoet_form_1 .mailpoet_paragraph input[type="email"]::-moz-placeholder { /* Firefox 19+ */
		font-size: 15px;
	}
	#mailpoet_form_1 .mailpoet_paragraph input[type="email"]:-ms-input-placeholder { /* IE 10+ */
		font-size: 15px;
	}
	#mailpoet_form_1 .mailpoet_paragraph input[type="email"]:-moz-placeholder { /* Firefox 18- */
		font-size: 15px;
	}
}





