.shop-loop-title{
   font-size: 14px;
   font-weight: 600;
   overflow: hidden;
   line-height: 18px;
   margin-bottom: 5px;
   margin-top: 15px;
   a{
      &:hover{
         color: $theme-color;
      }
   }
}
.shop-loop-description{
   font-size: 14px;
   color: #999691;
   line-height: 22px;
   padding: 5px 0;
}
.shop-loop-actions{
   .quickview, .yith-wcwl-add-to-wishlist, .yith-compare, .add-to-cart{
      @include size(45px, 45px);
      float: left;
      display: inline-block;
      background: $white;
      text-indent: -9999px;
      margin: 0;
      position: relative;
      z-index: 999;
      border-top: 1px solid $border-color;
      &:first-child{
         border-top: none;
      }
      a{
         @include size(45px, 45px);
         display: block;
         color: $black;
         @include border-radius(0);
         line-height: 48px;
         &:after{
            text-indent: 0;
            text-align: center;
            font-family: "gva-icon";
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            font-size: 16px;
            @include size(100%, 100%);
         }
         &:hover{
            color: $theme-color;
            &:after{
               color: $theme-color;
            }
         }
      }   
   }

   .add-to-cart{
      a{
         &:after{
            content: "\ec97";
         }
         &.added{
            display: none;
         }
         &.added_to_cart.wc-forward{
            &:after{
               content: "\e9c8";
               margin: 0;
            }
         }
      }
   }

   .quickview a{
      &:after{
         content: "\e928";
      }
   }
   
   .yith-wcwl-add-to-wishlist{
      position: relative;
      .ajax-loading{
         display: none;
         position: absolute;
         top: 10px;
         right: 10px;
      }
      .feedback{
         display: none;
      }
      a{
         &:after{
            content: "\eddd";
         }
      } 
      .yith-wcwl-wishlistexistsbrowse.show, .yith-wcwl-wishlistaddedbrowse.show{
         .feedback{
            display: none;
         }
         a{
            &:after{
                content: "\e906"!important;
            }
         }
      }  
   }
   .yith-compare a{
      &:after{
         content: "\e948";
      }
      &.added:after{
         content: "\e918";
      }
   }
   .clear{
      display: none;
   }
   @media(max-width: $screen-xs-max){
      .quickview{
         display: none;
      }
   }
}

.product-block{
   margin-bottom: 30px;
   position: relative;
   min-height: 100px;
   .star-rating{
      margin-top: 10px;
   }
   .product-thumbnail{
      position: relative;
      text-align: center;
      .shop-loop-actions{
         position: absolute;
         bottom: 0;
         left: -10px;
         @include opacity(0);
         @include transition(all 0.35s);
         width: 40px;
         z-index: 99;
         @media(max-width: $screen-sm-max){
            left: 0;
            @include opacity(1);
         }
      }
   }
   .shop-loop-after-title{
      position: relative;
   }
  
   .price{
      @include transition(all 0.35s);
      @media(max-width: $screen-sm-max){
         -webkit-opacity: 1!important;
         -ms-opacity: 1!important;
         -o-opacity: 1!important;
         opacity: 1!important;
      }
   }
   .thumbnail .caption{
      padding: 0!important;
   }
   .star-rating{
      float: left;
   }
   .product-hover{
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 99;
      @include size(100%, 40px);
      background: #ccc;
   }
   &:hover{
      .shop-loop-actions{
         @include opacity(1);
         left: 1px;
      }
   }

   .product-thumbnail-inner{
      .swap-thumbnail{
         position: relative;
         overflow: hidden;
         .attachment-shop_catalog{
            position: relative;
            z-index: 11;
            @include transition(all 0.5s);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            text-align: center;
         }
         .image-second{
            position: relative;
            z-index: 10;
            @include opacity(0);
            visibility: hidden;
            @include transition(opacity 0.7s ease 0s, transform 3s cubic-bezier(0, 0, 0.44, 1.18) 0s, -webkit-transform 3s cubic-bezier(0, 0, 0.44, 1.18) 0s);
            @include scale(0.98);
         }
      }
   }
   &:hover{ //Product block hover
      .swap-thumbnail{
         .attachment-shop_catalog{
            @include opacity(0);
            z-index: 10;
            visibility: hidden;
         }
         .image-second{
            z-index: 11;
            @include opacity(1);
            @include scale(1.05);
            visibility: visible;
         }
      }
   }
}

.rating-off{
   .star-rating{
      display: none;
   }
}

.style-products-horizontal{
   .product-block{
      .shop-loop-title{
         height: auto;
         margin: 10px 0 3px;
      }
      .product-block-inner{
         padding: 20px;
         .product-thumbnail{
            width: 35%;
            float: left;
         }
         .product-meta{
            padding-left: 20px;
            width: 65%;
            float: left;
         }
      }
      .add-to-cart{
         bottom: 0!important;
         a{
            font-size: 14px;
         }
      }
      &:hover{
         .add-to-cart{
            left: 0!important;
         }
      }
   }
}

.small-item .style-products-horizontal{
   .product-block{
      .shop-loop-title{
         margin-top: 5px;
      }
      .shop-loop-actions {
         display: none;
      }
      .star-rating{
         display: none;
      }
      .onsale{
         display: none;
      }
      .product-thumbnail{
         &:after{
            display: none!important;
         }
      }
   }
}

.item-product-deals{
   padding: 30px 30px 10px;
   .product-block{
      border: none;
      .add-to-cart{
          bottom: 0!important;
      }
      &:hover{
         .price{
            @include opacity(0);
         }
         .add-to-cart{
            @include opacity(1);
            left: 0;
         }
      }
   }
   .caption{
      padding: 0!important;
   }
   .product-block-inner{
      padding: 0;
   }
   .deals-information{
      margin-top: 10px;
      position: relative;
   }
   .shop-loop-title{
      height: auto;
      margin-top: 10px;
   }

}


.shop-loop-price{
   font-size: 14px;
   color: $link-color;
   text-decoration: none;
   min-height: 32px;
   color: $black;
   .price{
      color: $black;
      font-weight: 700;
   }
   ins{
      text-decoration: none;
      font-weight: 700;
   }
   del{
      color: $text-color;
      font-size: 14px;
      font-weight: 400;
   }
}

ul.list-sub-category{
   padding: 0 10px;
   > li{ 
     border-bottom: 1px dotted $border-color;
     padding: 8px 10px;
     list-style-type: none;
     > a{
       font-size: 14px;
       color: #242424;
     }
   }
}

//---------------- View Carousel & view Grid ------------------------
.carousel-view{
 
   
}

.grid-view{
   .product-block{
     
   }
}

//Coundown
.gva-countdown{
   text-align: left;
   .countdown-times{
      display: block;
      width: 100%;
      margin-top: 22px;
      > div{
         float: left;
         width: 23%;
         font-size: 14px;
         font-style: italic;
         margin: 0 1%;
         text-align: center;
         border: 1px solid $border-color;
         padding: 5px;
         font-family: $font-family-second;
         b{
            font-size: 12px;
            font-family: $font-family-base;
            border-bottom: 1px solid $border-color;
            display: block;
            font-style: normal;
         }
         &.day{
            color: $theme-color-2;
         }
         &:last-child{
            margin-right: 0;
         }
         &:first-child{
            margin-left: 0;
         }
      }
   }
} 

//-------------------------------------------------------------
.product_list_widget{
   .minicart-close{
      text-align: center;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $border-color;
      i{
         display: inline-block;
         font-size: 10px;
         @include border-radius(50%);
         border: 1px solid $text-color;
         padding: 6px;
      }
      &:hover{
         color: $theme-color;
         cursor: pointer;
      }
   }
   &.cart_list{
      .widget-product{
         color: $text-color;
         padding-bottom: 15px;
         margin-bottom: 15px;
         border-bottom: 1px dotted $border-color;
         position: relative;
         .media-left{
            a{
               border: 1px solid $border-color;
               padding: 5px;
               img{
                  width: 100px;
               }
            }   
         }
         .media-body{
            width: 70%;
         }
         .name{
            font-size: 14px;
            text-transform: none;
            font-weight: none;
            margin: 0 0 8px;
         }
         .remove{
            position: absolute;
            left: 0;
            top: 0;
            @include size(15px, 15px);
            background: $theme-color;
            color: $white;
            display: none;
            text-align: center;
            line-height: 14px;
         }
         &:hover{
            .remove{
               display: block;
            }
         }
      }
   }
}

.shop-loop-container{
   margin-bottom: 30px;
   .woocommerce-filter{
      margin-bottom: 30px;  
      .woocommerce-result-count{
         margin-bottom: 0;
         margin-top: 6px;
      }
      > *{
         float: left;
         color: #858585;
      }
      select.orderby{
         height: 40px;
         background: #F8F8F7;
         border: none!important;
      }
      .alert{
         width: 100%!important;
      }
   }
}

.woocommerce-page .gva-ajax-loading{
   .wp-content{
      &:after{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         @include size(100%, 100%);
         z-index: 999;
         background: rgba(255, 255, 255, 0.8);
      }
   }
}


/*------------------------------------*\
    Mini Cart
\*------------------------------------*/
.mini-cart-header{
   .dropdown{
      .minicart-content{
         background: $white;
         position: fixed;
         top: 0;
         bottom: 0;
         overflow-y: auto;
         right: -360px;
         z-index: 999;
         width: 350px;
         @include opacity(0);
         @include transition(all 0.35s);
         padding: 15px 30px 30px;
         @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
      }
      p.total{
         text-transform: uppercase;
      }
      p.buttons{
         float: left;
         width: 100%;
         margin-bottom: 30px;
      }

      &.open{
         .minicart-content{
            right: 0;
            @include opacity(1);
         }
      }
   }
}

//Quickview

#gva-quickview {
   position: relative;
   display: none;
   max-width: 1080px;
   margin: 0 auto;
   background: #fff;
   .product-single-inner{
      margin: 0;
   }
    .product_meta{
      width: 100%;
      float: left;
      margin-top: 15px;
      > span{
         margin-right: 20px;
         &:last-child{
            margin-right: 0;
         }
      }
   }
   .quantity{
      margin-right: 20px;
   }
   #gva-quickview-images{
      .owl-dots{
         margin: 10px 0 15px;
      }
   }
}
.mfp-wrap #gva-quickview {
   display: block;
}

@media (max-width: 1100px) {
   #gva-quickview {
      max-width: 550px;
   }
   
   /* Summary */ 
   #gva-quickview .nm-qv-summary {
      float: none;
      width: 100%;
   }
   #gva-quickview .nm-qv-summary-content.align-bottom {
      position: static;
      width: 100%;
      padding: 0;
   }
   
   /* Product image/slider */
   #gva-quickview .nm-qv-product-image {
      float: none;
      width: 100%;
   }
}

.woo-display-mode{
   > a{
      @include size(30px, 30px);
      display: line-block;
      margin-right: 15px;
      padding: 4px 0 0!important;
      text-align: center;
      @include transition(all 0.35s);
      color: $black;
      background: #fff;
      &:hover, &:active, &:focus, &.active{
         background-image: none;
         box-shadow: none;
         outline: 0 none;
         color: #fff;
         background: $theme-color;
      }
   }
}

.wc-nav-filters.full-width{
   margin-top: -1px;
   ul {
      padding: 20px;
      margin: 0;
      float: left;
      width: 100%;
      > li{
         list-style: none;
         display: inline-block;
         float: left;
         margin-right: 20px;
         a{
            background: #EFEEEC;
            display: block;
            padding: 8px 20px 8px 35px;
            font-weight: 700;
            text-transform: uppercase;
            color: #242424;
            position: relative;
            @include transition(all 0.35s);
            &:after{
               content: '\e907';
               font-family: 'gva-icon';
               font-size: 12px;
               color: #98948F;
               position: absolute;
               left: 12px;
               top: 10px;
               z-index: 1;
            }
            &:hover{
               background: $black;
               color: $white;
            }
         }
      }   
   }
}

.shop-loop-container{
   .products_wrapper{
      background: $white;
   }
}   

.filter-sidebar{
   .filter-sidebar-inner{
      @include transition(all 0.35s);
      &.layout-fullwidth{
         .filter-close{
            display: none;
         }
         background: $white;
         overflow-y: hidden;
         @include opacity(0);
         max-height: 0px;
         > .widget{
            width: 25%;
            float: left;
            border: none;
            @media(max-width: $screen-sm-max){
               width: 50%;
               &:nth-of-type(2n+1) { 
                  clear: both; 
                  &:after{
                     display: none;  
                  }
               }
            }
            @media(max-width: $screen-xs-max){
               width: 100%;
            }
         }
         &.active{
            padding-top: 30px;
            @include opacity(1);
            height: auto;
            min-height: 40px;
            max-height: 10000px;
            border-bottom: 1px solid $border-color;
         }
      }
      &.layout-offcavas{  
         position: fixed;
         width: 290px;
         left: -290px;
         top: 0;
         bottom: 0;
         z-index: 99999;
         @include opacity(0);
         visibility: hidden; 
         background: $white;
         @include box-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
         .filter-close{
               @include size(35px, 35px);
               position: fixed;
               top: 50%;
               left: 0;
               margin-top: -15px;
               z-index: 99;
               background: $theme-color;
               font-size: 20px;
               line-height: 32px;
               text-align: center;
               z-index: 1;
               @include transition(all 0.35s);
               @include box-shadow(2px 3px 5px rgba(0, 0, 0, 0.2));
               a{
                  color: $white;
               }
               &:hover{
                  cursor: pointer;
                  background: $black;
               }
            }
         .widget{
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
         }
         &.active{
            left: 0;
            @include opacity(1);
            visibility: visible;
            .filter-close{ 
               left: 290px;
            }
         }
      }
   }
}   

.gvawooaf-before-products{
   &.layout-list{
      .products{
         .product-block{
            width: 100%;
            border-bottom: 1px dotted $border-color;
            &:after, &:before{
               display: none!important;
            }           
         }
         .shop-loop-title a{
            font-size: 20px;
         }
         .shop-loop-description{
            display: block!important;
            visibility: visible!important;
         }
         @media(min-width: $screen-sm-min){
            .product-thumbnail{
               width: 40%;
               float: left;
               border: 1px solid $border-color;
            }
            .product-meta{
               width: 60%;
               float: left;
               padding-left: 30px;
            }
         }
      }
   }
}