#comments {
   float: left;
   width: 100%;
   padding-top: 30px;
   margin-top: 30px;
   border-top: 1px solid $border-color;
   .comments-title{
      font-size: 18px;
   }
   input, textarea{
      padding-left: 10px;
      padding-right: 10px;
      min-height: 40px;
   }
   #add_review_button,
   #submit {
      width: 100%;
      background: $theme-color;
      color: $white;
      padding: 10px 15px;
      border: none;
      text-transform: uppercase;
      @include transition(all 0.35s);
      &:hover{
         background: #242424;
      }
   }
   #add_review_button {
      margin-bottom: 20px;
   }
   .headline {
      height: 30px;
      text-align: left;
      margin-bottom: 10px;
      h2 {
         padding: 0;
      }
      a {
         text-transform: uppercase;
         float: right;
         margin-top: 2px;
         font-size: 12px;
      }
   }
   #reply-title {
      font-size: 22px;
      color: $black;
      font-weight: 600;
      margin: 0 0 5px;
      float: left;
      width: 100%;
      small {
         float: right;
         font-weight: 500;
         color: #cf0e29;
         font-size: 13px;
         line-height: 39px;
      }
   }
   .comment-notes {
      margin-bottom: 20px;
   }
   
   ol.comment-list {
      list-style: none;
      width: 100%;
      float: left;
      margin: 0;
      padding: 30px 0;
      display: block;
      float: left;
      width: 100%;
      @media only screen and (max-width: $screen-sm-max) {
         padding: 30px;
      }
      li {
         width: 100%;
         float: left;
         border-bottom: 1px solid $border-color;
         margin-top: 15px;
         margin-bottom: 15px;
         &:before {
            display: none; 
         }
         li {
            &:last-child {
               padding-bottom:0;
            }
         }
         
         #respond {
            float: left;
            width: 100%;
            margin-top: 20px;
            display: block !important;
            #reply-title {
               display: block;
            }
         }
      }
      &>li {
         &:first-child {
            .comment-inner {
               margin-top:0;
            }
         }
         &:last-child {
            border: 0;
            margin-bottom: 0;
         }
      }
      
      .vcard {
         display: block;
         border: 0;
         padding: 0 40px 0 0;
         margin: 0;
         .avatar {
            float: left;
            width: 70px;
            margin: 0 30px 0 0;
            @include border-radius(35px);
            position: absolute;
            top: 0;
            left: 0;
            .rtl & {
               float: right;
               margin: 0 0 0 30px;
               left: auto;
               right: 0;
            }
         }
         .says {
            display: none;
         }
         .fn {
            font-style: normal;
            display: block;
            color: $theme-color;
            font-weight: 600;
            line-height: 1;
            font-size: 14px;
            margin-bottom: 10px;
            text-transform: capitalize;
            a {
               color: $theme-color;
            }
         }
      }
      .comment-meta {
         display: block;
         font-size: 12px;
         text-transform: uppercase;
         font-weight: 300;
         margin-bottom: 5px;
         color: #676767;
      }
      .comment-body {
         padding-left: 100px;
         position: relative;
         .rtl & {
            padding: 0 100px 0 0;
         }
      }
      .awaiting_moderation {
         display: block;
         position: absolute;
         bottom: 0;
         right: 0;
         color: #fff;
         font-weight: bold;
         text-transform: uppercase;
         font-size: 8px;
         padding: 2px 4px;
         font-style: normal;
      }
      .comment-reply-link {
         display: inline-block;
         float: right;
         color: $theme-color;
         font-weight: 500;
         font-size: 13px;
         text-transform: uppercase;
         position: absolute;
         top: 0;
         right: 0;
         .rtl & {
            right: auto;
            left: 0;
         }
      }
      .comment-container{
         width: auto;
         margin-left: 100px;
         .rtl & {
            margin-right: 100px;
            margin-left: 0;
         }
         .star-rating {
            float: right;
            
            @media only screen and (max-width: $screen-sm-max) {
               float: left;
               width: 100%;
               margin-bottom: 10px;
            }
         }
      }
      .children{
         display: block;
         float: left;
         width: 100%;
         margin: 20px 0 0;
         padding-left: 30px;
         list-style: none;
         
         @media only screen and (min-width: $screen-sm-max) {
            padding-left: 100px;
         }
         .rtl & {
            padding: 0 30px 0 0;
            @media only screen and (min-width: $screen-sm-max) {
               padding-right: 100px;
            }
         }
         .vcard {
            .avatar {
               float: left;
               width: 52px;
               margin-right: 20px;
               @include border-radius(36px);
               .rtl & {
                  float: right;
                  margin: 0 0 0 20px;
               }
            }
            
            
         }
         .comment-body {
            padding-left: 72px;
            
            .rtl & {
               padding: 0 72px 0 0;
            }
         }
         &>li {
            
            &:first-child {
               &>.comment-inner {
                  margin-top:0;
               }
            }
            &:last-child {
               border: 0;
            }
         }
         .children {
            padding-left: 72px;
            
            .rtl & {
               padding: 0 72px 0 0;
            }
         }
      }
   }
   li.pingback{
      margin-top: 0!important;
      padding-bottom: 15px;
      .comment-body{
         padding-left: 0;
      }
   }
}
#respond {
   clear: left;
   margin-top: 20px;

   input,
   textarea {
      width: 100%;   
   }
   .form-submit {
      float: right;
      margin: 0;
   }
}
#reviews {
   float: left;
   width: 100%;
   #comments {
      width: 100%;
      padding: 0;
      margin: 30px 0 0;
      ol.commentlist {
         padding: 30px 0 0;
         
         .comment-container {
            margin-left: 0;
            
            .authorname {
               display: none;
            }
            .commentmeta strong {
               float: left;
            }
         }
         .comment-text {
            text-align: left;
            clear: both;
            margin-bottom: 20px;
         }
      }
   }
   .comment-reply-title {
      display: none;
   }  
}
.comment-reply-title{
   font-size: 18px;
   color: $black;
}
#comment_popup {
   background: #fff;
   padding: 50px;
   max-width: 50%;
   position: relative;
   margin: 0 auto;
   @media only screen and (max-width: $screen-sm-max) {
      max-width: 100%;
   }
   @media only screen and (max-width: $screen-sm-max) {
      padding: 30px;
   }
}
