.event-block{
   .event-image{
      position: relative;
      .date{
         position: absolute;
         top: 15px;
         right: 10px;
         overflow: hidden;
         padding: 5px 10px;
         background: $theme-color;
         color: $white;
         font-size: 14px;
         @include opacity(0.9);
         .icon{
            margin-right: 5px;
         }
      }
   }
   .event-content{
      background: $white;
      padding: 15px 20px;
      border: 1px solid $border-color;
      border-top: 0;
      min-height: 240px;
      .event-info{
         .title{
            font-size: 18px;
            line-height: 24px;
            display: block;
            margin-bottom: 10px;
            font-weight: 600;
         }
         .address{
            font-size: 13px;
            color: $theme-color;
            i{
              margin-right: 5px;
            }
         }
         .body{
            margin-top: 10px;
            line-height: 28px;
            font-size: 14px;
            max-height: 85px;
            overflow: hidden;
         }
      }
   }
   .view-node{
      font-size: 12px;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 400;
      color: $theme-color;
      i{
         position: relative;
         top: 1px;
      }
   }
   &:hover{
      .date{
         @include opacity(1);
      }
   }
}
.event-block-list{
  margin-bottom: 20px;
   .event-date{
      @include size(110px, auto);
      float: left;
      background: $theme-color;
      color: $white;
      padding: 12px 10px;
      span{
         display: block;
         &.day{
            font-size: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            line-height: 1;
            margin-bottom: 3px;
            padding-bottom: 3px;
         }
      }
   }
   .event-title{
      a{
         font-weight: 600;
         font-size: 14px;
         display: inline-block;
         line-height: 24px;
      }
   }
   .event-address{
      font-size: 15px;
      i{
         font-size: 16px;
         color: $theme-color;
         margin-right: 5px;
      }
   }
   .event-content{
      padding-left: 125px;
   }
}

.event-single{
  .event-thumbnail{
    position: relative;
    .social-networks{
      list-style-type: none;
      position: absolute;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      padding: 0;
      margin: 0;
      padding: 20px 15px;
      a{
        color: $white;
        &:hover, &:focus{
          color: $theme-color;
        }
      }
    }
  }

  .event-title{
    font-size: 22px;
  }
  .meta-block{
    margin-bottom: 30px;
    .block-title{
      font-weight: 600;
      padding-bottom: 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-color;
      color: $headings-color;
      text-transform: capitalize;
      font-size: 20px;
      position: relative;
      &:after{
        content: '';
        @include size(100px, 1px);
        background: $theme-color;
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 1;
      }
    }
    &.info{
      background: #f5f5f5;
      padding: 30px;
      font-size: 16px;
      width: 100%;
      float: left;
    }
    .info-item{
      width: 33.33%;
      float: left;
      padding-right: 15px;
      margin: 10px 0;
      .icon{
        float: left;
        width: 30px;
        font-size: 32px;
        color: $headings-color;
        line-height: 1;
        padding-top: 5px;
      }
      .content{
        padding-left: 45px;
        .lab, .val{
          display: block;
        }
        .lab{
          color: #8e8e8e;
          font-size: 13px;
        }
        .val{
          color: $headings-color;
          font-weight: 600;
          font-size: 13px;
        }
      }
      &:nth-child(3n+1){
        clear: both;
      }
    }
    &.speakers{
      float: left;
      width: 100%;
      .speaker-item{
        .name{
          font-size: 16px;
          color: $black;
          font-weight: 600;
          margin-top: 15px;
        }
        .job{
          color: $theme-color;
          line-height: 1;
        }
      }
    }
  }
}