@mixin grid-clear-both(){
   clear: both; 
   &:after{
      display: none;  
   }
}  

@mixin grid-clear-none(){
  clear: none;
   &:after{
      display: block;  
   }
}    

/* #Block grid
--------------------------------------------------------------- */
.item-columns{
   padding: 0 10px;
}

[class*="block-grid-"] {
   display: block;
   margin: 0 -10px;
   
   padding: 0;
}
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
   display: table;
   content: " ";
}
[class*="block-grid-"]:after { clear: both;  }
[class*="block-grid-"] > div {
   display: block;
   float: left;
   height: auto;
   padding: 0 10px; 
   width: 100%;
   &:after{
      display: block;
   }
} 

@media(min-width: 380px){ 
   .xs-block-grid-1 > div { width: 100%; }
   .xs-block-grid-1 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-1 > div:nth-of-type(1n+1) { @include grid-clear-both(); }
   .xs-block-grid-1 > div:nth-last-child(-n+1) {&:before{content:none;}}

   .xs-block-grid-2 > div { width: 50%; }
   .xs-block-grid-2 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-2 > div:nth-of-type(2n+1) { @include grid-clear-both();}
   .xs-block-grid-2 > div:nth-last-child(-n+2) {&:before{content:none;}}

   .xs-block-grid-3 > div { width: 33.33333%; }
   .xs-block-grid-3 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-3 > div:nth-of-type(3n+1) { @include grid-clear-both();}
   .xs-block-grid-3 > div:nth-last-child(-n+3) {&:before{content:none;}}

   .xs-block-grid-4 > div { width: 25%; }
   .xs-block-grid-4 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-4 > div:nth-of-type(4n+1) { @include grid-clear-both();}
   .xs-block-grid-4 > div:nth-last-child(-n+4) {&:before{content:none;}}

   .xs-block-grid-5 > div { width: 20%; }
   .xs-block-grid-5 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-5 > div:nth-of-type(5n+1) { @include grid-clear-both();}
   .xs-block-grid-5 > div:nth-last-child(-n+5) {&:before{content:none;}}

   .xs-block-grid-6 > div { width: 16.66667%; }
   .xs-block-grid-6 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-6 > div:nth-of-type(6n+1) { @include grid-clear-both();}
   .xs-block-grid-6 > div:nth-last-child(-n+6) {&:before{content:none;}}

   .xs-block-grid-7 > div { width: 14.28571%; }
   .xs-block-grid-7 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-7 > div:nth-of-type(7n+1) { @include grid-clear-both();}
   .xs-block-grid-7 > div:nth-last-child(-n+7) {&:before{content:none;}}

   .xs-block-grid-8 > div { width: 12.5%; }
   .xs-block-grid-8 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-8 > div:nth-of-type(8n+1) { @include grid-clear-both();}
   .xs-block-grid-8 > div:nth-last-child(-n+8) {&:before{content:none;}}

   .xs-block-grid-9 > div { width: 11.11111%; }
   .xs-block-grid-9 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-9 > div:nth-of-type(9n+1) { @include grid-clear-both();}
   .xs-block-grid-9 > div:nth-last-child(-n+9) {&:before{content:none;}}

   .xs-block-grid-10 > div { width: 10%; }
   .xs-block-grid-10 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-10 > div:nth-of-type(10n+1) { @include grid-clear-both();}
   .xs-block-grid-10 > div:nth-last-child(-n+10) {&:before{content:none;}}

   .xs-block-grid-11 > div { width: 9.09091%; }
   .xs-block-grid-11 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-11 > div:nth-of-type(11n+1) { @include grid-clear-both();}
   .xs-block-grid-11 > div:nth-last-child(-n+11) {&:before{content:none;}}

   .xs-block-grid-12 > div { width: 8.33333%; }
   .xs-block-grid-12 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .xs-block-grid-12 > div:nth-of-type(12n+1) { @include grid-clear-both();}
   .xs-block-grid-12 > div:nth-last-child(-n+12) {&:before{content:none;}}
}

@media(min-width: 768px){ 
   .sm-block-grid-1 > div { width: 100%; }
   .sm-block-grid-1 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-1 > div:nth-of-type(1n+1) { @include grid-clear-both(); }
   .sm-block-grid-1 > div:nth-last-child(-n+1) {&:before{content:none;}}

   .sm-block-grid-2 > div { width: 50%; }
   .sm-block-grid-2 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-2 > div:nth-of-type(2n+1) { @include grid-clear-both();}
   .sm-block-grid-2 > div:nth-last-child(-n+2) {&:before{content:none;}}

   .sm-block-grid-3 > div { width: 33.33333%; }
   .sm-block-grid-3 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-3 > div:nth-of-type(3n+1) { @include grid-clear-both();}
   .sm-block-grid-3 > div:nth-last-child(-n+3) {&:before{content:none;}}

   .sm-block-grid-4 > div { width: 25%; }
   .sm-block-grid-4 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-4 > div:nth-of-type(4n+1) { @include grid-clear-both();}
   .sm-block-grid-4 > div:nth-last-child(-n+4) {&:before{content:none;}}

   .sm-block-grid-5 > div { width: 20%; }
   .sm-block-grid-5 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-5 > div:nth-of-type(5n+1) { @include grid-clear-both();}
   .sm-block-grid-5 > div:nth-last-child(-n+5) {&:before{content:none;}}

   .sm-block-grid-6 > div { width: 16.66667%; }
   .sm-block-grid-6 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-6 > div:nth-of-type(6n+1) { @include grid-clear-both();}
   .sm-block-grid-6 > div:nth-last-child(-n+6) {&:before{content:none;}}

   .sm-block-grid-7 > div { width: 14.28571%; }
   .sm-block-grid-7 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-7 > div:nth-of-type(7n+1) { @include grid-clear-both();}
   .sm-block-grid-7 > div:nth-last-child(-n+7) {&:before{content:none;}}

   .sm-block-grid-8 > div { width: 12.5%; }
   .sm-block-grid-8 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-8 > div:nth-of-type(8n+1) { @include grid-clear-both();}
   .sm-block-grid-8 > div:nth-last-child(-n+8) {&:before{content:none;}}

   .sm-block-grid-9 > div { width: 11.11111%; }
   .sm-block-grid-9 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-9 > div:nth-of-type(9n+1) { @include grid-clear-both();}
   .sm-block-grid-9 > div:nth-last-child(-n+9) {&:before{content:none;}}

   .sm-block-grid-10 > div { width: 10%; }
   .sm-block-grid-10 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-10 > div:nth-of-type(10n+1) { @include grid-clear-both();}
   .sm-block-grid-10 > div:nth-last-child(-n+10) {&:before{content:none;}}

   .sm-block-grid-11 > div { width: 9.09091%; }
   .sm-block-grid-11 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-11 > div:nth-of-type(11n+1) { @include grid-clear-both();}
   .sm-block-grid-11 > div:nth-last-child(-n+11) {&:before{content:none;}}

   .sm-block-grid-12 > div { width: 8.33333%; }
   .sm-block-grid-12 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .sm-block-grid-12 > div:nth-of-type(12n+1) { @include grid-clear-both();}
   .sm-block-grid-12 > div:nth-last-child(-n+12) {&:before{content:none;}}
}
  
/* Medium */
@media (min-width: 992px) {
   [class*="block-grid-"] {
      margin: 0 -10px;
   }
   [class*="block-grid-"] > div {
      padding: 0 10px;
   }
   
   .item-columns{
      padding: 0 10px;
   }
  
   .md-block-grid-1 > div { width: 100%; }
   .md-block-grid-1 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-1 > div:nth-of-type(1n+1) { @include grid-clear-both(); }
   .md-block-grid-1 > div:nth-last-child(-n+1) {&:before{content:none;}}

   .md-block-grid-2 > div { width: 50%; }
   .md-block-grid-2 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-2 > div:nth-of-type(2n+1) { @include grid-clear-both(); }
   .md-block-grid-2 > div:nth-last-child(-n+2) {&:before{content:none;}}
   
   .md-block-grid-3 > div { width: 33.33333%; }
   .md-block-grid-3 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-3 > div:nth-of-type(3n+1) { @include grid-clear-both(); }
   .md-block-grid-3 > div:nth-last-child(-n+3) {&:before{content:none;}}
   
   .md-block-grid-4 > div { width: 25%; }
   .md-block-grid-4 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-4 > div:nth-of-type(4n+1) { @include grid-clear-both(); }
   .md-block-grid-4 > div:nth-last-child(-n+4) {&:before{content:none;}}
   
   .md-block-grid-5 > div { width: 20%; }
   .md-block-grid-5 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-5 > div:nth-of-type(5n+1) { @include grid-clear-both(); }
   .md-block-grid-5 > div:nth-last-child(-n+5) {&:before{content:none;}}
   
   .md-block-grid-6 > div { width: 16.66667%; }
   .md-block-grid-6 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-6 > div:nth-of-type(6n+1) { @include grid-clear-both(); }
   .md-block-grid-6 > div:nth-last-child(-n+6) {&:before{content:none;}}
   
   .md-block-grid-7 > div { width: 14.28571%; }
   .md-block-grid-7 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-7 > div:nth-of-type(7n+1) { @include grid-clear-both(); }
   .md-block-grid-7 > div:nth-last-child(-n+7) {&:before{content:none;}}
   
   .md-block-grid-8 > div { width: 12.5%; }
   .md-block-grid-8 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-8 > div:nth-of-type(8n+1) { @include grid-clear-both(); }
   .md-block-grid-8 > div:nth-last-child(-n+8) {&:before{content:none;}}
   
   .md-block-grid-9 > div { width: 11.11111%; }
   .md-block-grid-9 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-9 > div:nth-of-type(9n+1) { @include grid-clear-both(); }
   .md-block-grid-9 > div:nth-last-child(-n+9) {&:before{content:none;}}
   
   .md-block-grid-10 > div { width: 10%; }
   .md-block-grid-10 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-10 > div:nth-of-type(10n+1) { @include grid-clear-both(); }
   .md-block-grid-10 > div:nth-last-child(-n+10) {&:before{content:none;}}
   
   .md-block-grid-11 > div { width: 9.09091%; }
   .md-block-grid-11 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-11 > div:nth-of-type(11n+1) { @include grid-clear-both(); }
   .md-block-grid-11 > div:nth-last-child(-n+11) {&:before{content:none;}}
   
   .md-block-grid-12 > div { width: 8.33333%; }
   .md-block-grid-12 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .md-block-grid-12 > div:nth-of-type(12n+1) { @include grid-clear-both(); }
   .md-block-grid-12 > div:nth-last-child(-n+12) {&:before{content:none;}}
}

/* Large */
@media (min-width: 1200px) {
   [class*="block-grid-"] {
      margin: 0 -12px;
   }
   [class*="block-grid-"] > div {
      padding: 0 12px;
   }
   
   .item-columns{
      padding: 0 12px;
   }

   .lg-block-grid-1 > div { width: 100%; }
   .lg-block-grid-1 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-1 > div:nth-of-type(1n+1) { @include grid-clear-both(); }
   .lg-block-grid-1 > div:nth-last-child(-n+1) {&:before{content:none;}}

   .lg-block-grid-2 > div { width: 50%; }
   .lg-block-grid-2 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-2 > div:nth-of-type(2n+1) { @include grid-clear-both(); }
   .lg-block-grid-2 > div:nth-last-child(-n+2) {&:before{content:none;}}

   .lg-block-grid-3 > div { width: 33.33333%; }
   .lg-block-grid-3 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-3 > div:nth-of-type(3n+1) { @include grid-clear-both(); }
   .lg-block-grid-3 > div:nth-last-child(-n+3) {&:before{content:none;}}

   .lg-block-grid-4 > div { width: 25%; }
   .lg-block-grid-4 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-4 > div:nth-of-type(4n+1) { @include grid-clear-both(); }
   .lg-block-grid-4 > div:nth-last-child(-n+4) {&:before{content:none;}}

   .lg-block-grid-5 > div { width: 20%; }
   .lg-block-grid-5 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-5 > div:nth-of-type(5n+1) { @include grid-clear-both(); }
   .lg-block-grid-5 > div:nth-last-child(-n+5) {&:before{content:none;}}

   .lg-block-grid-6 > div { width: 16.66667%; }
   .lg-block-grid-6 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-6 > div:nth-of-type(6n+1) { @include grid-clear-both(); }
   .lg-block-grid-6 > div:nth-last-child(-n+6) {&:before{content:none;}}

   .lg-block-grid-7 > div { width: 14.28571%; }
   .lg-block-grid-7 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-7 > div:nth-of-type(7n+1) { @include grid-clear-both(); }
   .lg-block-grid-7 > div:nth-last-child(-n+7) {&:before{content:none;}}

   .lg-block-grid-8 > div { width: 12.5%; }
   .lg-block-grid-8 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-8 > div:nth-of-type(8n+1) { @include grid-clear-both(); }
   .lg-block-grid-8 > div:nth-last-child(-n+8) {&:before{content:none;}}

   .lg-block-grid-9 > div { width: 11.11111%; }
   .lg-block-grid-9 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-9 > div:nth-of-type(9n+1) { @include grid-clear-both(); }
   .lg-block-grid-9 > div:nth-last-child(-n+9) {&:before{content:none;}}

   .lg-block-grid-10 > div { width: 10%; }
   .lg-block-grid-10 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-10 > div:nth-of-type(10n+1) { @include grid-clear-both(); }
   .lg-block-grid-10 > div:nth-last-child(-n+10) {&:before{content:none;}}

   .lg-block-grid-11 > div { width: 9.09091%; }
   .lg-block-grid-11 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-11 > div:nth-of-type(11n+1) { @include grid-clear-both(); }
   .lg-block-grid-11 > div:nth-last-child(-n+11) {&:before{content:none;}}

   .lg-block-grid-12 > div { width: 8.33333%; }
   .lg-block-grid-12 > div:nth-of-type(1n) { @include grid-clear-none(); }
   .lg-block-grid-12 > div:nth-of-type(12n+1) { @include grid-clear-both(); }
   .lg-block-grid-12 > div:nth-last-child(-n+12) {&:before{content:none;}}
}


.no-gutter{
   [class*="block-grid-"] {
      margin: 0!important;
   }
   [class*="block-grid-"] > div {
      padding: 0!important;
   }
   .row{
      margin-left: 0!important;
      margin-right: 0!important;
   }
   [class*="col-"], .item-columns{
      padding-left: 0!important;
      padding-right: 0!important;
   }
}