html{
	overflow-x: hidden!important;
}
body{
	overflow-x: hidden!important;
	@include transition(all 0.35s);
	&.boxed-layout, &.boxed{
		background: #efefef;
		max-width: 1440px;
	   @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    	margin: 0 auto;    
    	.wrapper-page{
    		background: #fff;
    	}
	}
	&.open-off-canvas{
	   &:after{
	   	content: "";
	   	background: rgba(0, 0, 0, 0.5);
	   	position: absolute;
	   	top: 0;
	   	left: 0;
	   	@include size(100%, 5000px);
	   	z-index: 99;
	   }
	}
  	.wrapper-page{
  		background: $white;
  		position: relative;
  	}
	.page{
		position: relative;
	}
}

.base-layout{
   &.has-sidebar{
   	.container{
   		width: 100%!important;
   		padding: 0!important;
   	}
   }
}

.page-fullscreen{
	.custom-breadcrumb, .breadcrumb{
		display: none;
	}
}

//------------- Main content -------------------------
//----------------------------------------------------
.main-page-content{
	position: relative;
	z-index: 99;
}

#wp-content{
	min-height: 150px;
	background: $white;
}

//Footer
#wp-footer{
	background: #252429;
	color: #bbbbbb;
	a{
		color: #bbbbbb;
		&:hover{
			color: $theme-color;
		}
	}
	.widget, .wpb_single_image, .wpb_content_element {
		margin-top: 30px;
	  .widget-title, .widgettitle, .wpb_singleimage_heading{
	  		color: $white;
	  		&:before, &:after{
	  			background: $white;
	  		}
	  	}
   }
}

body{
  	&.footer-fixed{
    	#wp-footer {
	      position: fixed;
	      bottom: 0;
	      left: 0;
	      z-index: 1;
	      width: 100%;
	   }
	   .wrapper-page{
	   	@include box-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
	   }
  	}
}

//Copyright
.copyright{
	text-align: left;
	padding: $copyright-padding;
	border-top: 1px solid $border-color;
	background: #1F1E23;
	margin-top: 20px;
}

body.copyright-fixed{
	#wp-footer{
		position: relative;
		z-index: 999;
		.copyright{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 999;
		}
	}
}

.return-top{
	background-color: #444444;
	border: 2px solid #444444;
	color: $white;
	font-weight: 700;
	text-align: center;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 999;
	@include size(45px, 45px);
	text-transform: uppercase;
	line-height: 52px;
	display: none;
	@include transition(all 0.35s);
	i{
		font-size: 24px;
	}
	&:hover{
		cursor: pointer;
		background: $white;
		color: #444444;
	}
}


