.post{
	.entry-title{
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		font-weight: 600;
		margin-bottom: 5px;
		padding-top: 10px;
		 -ms-word-wrap: break-word;
    	word-wrap: break-word;
	}
	.entry-body{
		 -ms-word-wrap: break-word;
    	word-wrap: break-word;
	}
	.entry-meta{
		font-family: $font-family-base;
		font-size: 13px;
		font-weight: 400;
		color: #888888;
		a, i{
			margin-right: 5px;
			color: #888888!important;
		}
		.meta-sep{
			padding: 0 6px;
		}
		.author, .comment{
			color: #999999;
		}
		> span{
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.entry-content{
		font-size: 16px;
	}
	.cat-links{
		a{
			color: $theme-color;
			&:hover, &:focus{
				text-decoration: underline;
			}
		}
	}
	.post-thumbnail{
 		iframe{
 			width: 100%;
 			min-height: 350px;
 		}	
 	}
 	.tag-links{
 		margin-top: 15px;
 		display: block;
 		a{
 			margin-right: 5px;
 			margin-bottom: 5px;
 			border: 1px solid $border-color;
 			padding: 5px 10px;
 			display: inline-block;
 			@include transition(all 0.35s);
 			&:hover{
 				color: $white!important;
 				background: $theme-color;
 			}
 		}
 	}
}

div[class*="col-md-6"], div[class*="col-md-4"]{
	.post-thumbnail{
 		iframe{
 			min-height: 235px;
 			height: 235px;
 		}	
 	}
}

.post-items{
	.post{
		margin-bottom: 35px;
	}
	.entry-title{
		font-size: 18px;
		text-transform: none;
		line-height: 22px;
		font-weight: 600;
		margin-bottom: 8px;
		&h2{
			margin-top: 18px;
		} 
	}
	.entry-meta{
		margin: 0px 0 10px;
		color: #999999; 	
	}
	&.layout-sticky-on{
		.posts-child{
			.post{
				border-bottom: none;
				margin-bottom: 0;
				.entry-title{
					font-size: 20px;
				}
			}		
		}		
	}
}

//Single Post
.single.single-post{
 	#wp-content{
 		margin-bottom: 30px; 
 	}
 	.entry-title{
 		margin-top: 15px;
		font-size: 30px;
		line-height: 32px;
		letter-spacing: 0;
		color: #242424;
		text-transform: none;
		margin-bottom: 6px;
	}
	.entry-meta{
		margin: 5px 0 30px;
		color: #999999;
		i{
			color: #5f5f5f!important;
		}
		a{
			color: #242424;
			&:hover{
				color: $theme-color;
			}
		}
	}
	.post-content{
		strong img{
			margin-right: 10px;
		}
		.wp-caption{
			max-width: 100%;
		}
		input[type="text"], 
		input[type="tel"],
		input[type="password"],
		input[type="email"]{
			padding: 0 8px;
		}
		input[type="submit"]{
			background: $theme-color;
			color: $white;
			text-transform: uppercase;
			font-size: 12px;
			@include transition(all 0.35s);
			border: none;
			@include box-shadow(none);
			padding: 3px 10px;
			&:hover{
				background: $black;
			}
		}
	}
}

.post-navigation{
	width: 100%;
	float: left;
	padding-top: 15px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-top: 1px solid $border-color;
	a{
		display: inline-block;
		width: 50%;
		@media(max-width: $screen-xs-max){
			width: 100%;
		}
		&[rel *= "next"]{
			float: right;
			text-align: right;
		}
		span{
			display: block;
			&.meta-nav{
				font-size: 14px;
				color: #888888;
				.icon{
					font-size: 10px;
					color: $theme-color;
				}
				&.next .icon{
					margin-left: 8px;
					margin-top: 1px;
				}
				&.prev .icon{
					margin-right: 8px;
					margin-top: 1px;
				}
			}
			&.title{
				font-size: 18px;
				color: #242424;
			}
		}
	}

}

.results-search{
	.post{
		border-bottom: 1px solid $border-color;
		margin-bottom: 15px;
		padding-bottom: 15px;
		.title{
			margin: 0 0 5px;
		}
	}
}