.team-block{
   .team-image{
      position: relative;
      text-align: center;
      .team-email{
         position: absolute;
         bottom: -20px;
         left: 30px;
         right: 30px;
         text-align: center;
         font-size: 12px;
         text-transform: uppercase;
         font-weight: 600;
         letter-spacing: 2px;
         color: $white;
         @include transition(all 0.35s);
         @include opacity(0);
         z-index: 9;
         &:hover{
           text-decoration: underline;
         }
      }
      &:after{
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         @include size(100%, 100%);
         background: rgba(255, 255, 255, 0.6);
         @include opacity(0);
         @include scale(0.8);
         z-index: 1;
         @include transition(all 0.35s);
      }
      .socials{
         margin-top: 10px;
         position: absolute;
         top: -30px;
         right: 10px;
         width: 32px;
         z-index: 9;
         @include opacity(0);
         @include transition(all 0.35s);
         .social-item{
            display: block;
            margin-top: 5px;
            margin-right: 0;
         }
      }
   }
   .team-name{
      font-weight: 600;
      color: $black;
      margin-top: 20px;
      line-height: 24px;
      font-size: 16px;
      font-family: $font-family-second;
   }
   .team-job{
      font-size: 14px;
      color: #888;
   }
   .team-body{
      position: relative;
      padding-top: 10px;
      margin-top: 10px;
      &:after{
         content: '';
         @include size(45px, 1px);
         background: $theme-color;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
      }
   }
   .team-skills{
      .vc_single_bar{
         height: 2px!important;
         margin-bottom: 32px!important;
         .vc_label{
            font-size: 11px;
            font-weight: 600;
            line-height: 18px;
            .vc_label_units{
               display: none!important;
            }
         }
      }
   }
  &:hover{
    .team-image{
      &:after{
        @include opacity(1);
        @include scale(1);
      }
      .socials{
         top: 10px;
         @include opacity(1);
      }
    }
    .team-email{
      bottom: 30px; 
      @include opacity(1);
    }
  }  
}

.team-block-single{
  margin-bottom: 45px;
  .heading{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    color: $black;
    border-bottom: 1px solid $border-color;
    position: relative;
    float: left;
    width: 100%;
    &:after{
      content: '';
      @include size(80px, 1px);
      background: $theme-color;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 9;
    }
  }
  .team-name{
    color: $black;
    font-weight: 500;
  }
  .team-skills{
    .vc_progress_bar{
      float: left;
      width: 100%;
      margin-bottom: 0!important;
    }
  }
  .team-name{
    font-size: 24px;
    margin-top: 0;
  }
  .team-quote{
    font-size: 16px;
    color: #999999;
    margin-top: 20px;
    padding-left: 50px;
    position: relative;
    font-style: italic;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      color: #86BC42;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
    }
  }
  .socials{
    margin-top: 5px;
  }
}
