.testimonial-node-v1{
  margin: 0 auto;
  max-width: 1060px;
  .testimonial-content{
    width: 55%;
    float: left;
    padding-right: 30px;
    @media(max-width: $screen-xs-max){
      width: 100%;
      padding-right: 0;
    }
    .quote{
      @include border-radius(10px);
      padding: 10px 0 10px;
      position: relative;
      font-family: $font-family-three;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.5px;
    }
    .info{
      margin-top: 20px;
      .left{
        width: 80px;
        float: left;
        .avatar{
          img{
            @include border-radius(50%);
            width: 80px;
            height: auto;
            border: 1px solid $theme-color;
          }
        }
      }
      .right{
        padding-left: 95px;
        padding-top: 15px;
        .title{
          font-weight: 600;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
    }
  }
  .testimonial-image{
    width: 45%;
    min-height: 239px;
    float: right;
    position: relative;
    background: $theme-color;
    @media(max-width: $screen-xs-max){
      width: 100%;
    }
    .video-body{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 99;
      margin-top: -40px;
      margin-left: -40px;
      .gsc-video-link{
        .icon-play{
          background: url('#{$image-theme-path-base}/icon-play.png') no-repeat center center $nocolor;
          background-size: contain;
          -webkit-background-size: contain;
          @include size(80px, 80px);
          display: inline-block;
          @include scale(1);
          @include transition(all 0.35s);
          @include border-radius(50%);
          color: $theme-color; 
          line-height: 80px;
          text-align: center;
          padding-left: 3px;
          &:hover{
            @include scale(.8);
          }
        } 
      }
    }
  }
}

.testimonial-node-v2{
  padding: 0;
  text-align: left;
  .avatar{
    position: relative;
    width: 200px;
    float: left;
    @media(max-width: 450px){
      width: 100%!important;
      text-align: center;
      margin-bottom: 15px;
    }
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: 0px;
      top: 0;
      position: absolute;
      z-index: 1;
      color: $white;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      @include size(40px, 40px);
      background: $theme-color;
    }
  }
  .content{
    padding-left: 220px;
    @media(max-width: 450px){
      padding-left: 0!important;
    }
    .quote{
      font-size: 13px;
      line-height: 30px;
      position: relative;
    }
    .info{
      margin-top: 10px;
      color: #bbbbbb;
      .title{
        font-size: 14px;
        font-weight: 600;
        color: $theme-color;
        text-transform: none;
      }
      .job{
        font-size: 12px;
        color: #bbbbbb;
      }
    }  
  }
}

.text-light{
  .testimonial-node-v1{
    color: $white;
    .title{
      color: $white!important;
      a{
        color: $white!important;
      }
    }
    .quote{
      color: $white;
    }
  }
}

.testimonial-node-v3{
  text-align: center;
  max-width: 780px;
  margin: 0 auto;
  .avatar{
    img{
      width: 100px!important;
      height: auto;
      @include border-radius(50%);
    }
  }
  .quote{
    font-size: 16px;
    line-height: 32px;
    position: relative;
    padding-top: 10px;
    color: $black;
    text-align: center;
  }
  .info{
    margin-top: 30px;
    display: inline-block;
    text-align: left;
  }
  .left, .right{
    float: left;
    &.left{
      margin-right: 15px;
    }
  }
  .job{
    color: #bbbbbb;
    font-size: 12px;
  }
  .content-inner{
    .title{
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
      color: $black;  
    }
  }  
}

.testimonial-node-v4{
  background: rgba(255, 255, 255, 0.8);
  max-width: 700px;
  float: left;
  padding: 30px 30px 30px 50px;
  border-left: 5px solid $theme-color;
  position: relative;
  @include box-shadow(5px 4px 8px 0px rgba(0,0,0,0.05));
  &:after{
    font-family: "FontAwesome";
    content: "\f10d";
    left: 15px;
    top: 15px;
    position: absolute;
    z-index: 1;
    color: $theme-color;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
  }
  .quote{
    font-size: 16px;
    color: $black;
    line-height: 30px;
  }
  .title{
    font-weight: 600;
    color: $black;
    font-size: 16px;
    margin-top: 10px;
  }
  .job{
    margin-top: 0;
    font-size: 12px;
    color: #bbbbbb;
  }
  .avatar{
    margin-top: 10px;
    img{
      @include size(80px, 80px);
      @include border-radius(50%);
      border: 1px solid $border-color;
    }
  }
}

.testimonial-node-v5{
  background: none;
  max-width: 620px;
  float: left;
  position: relative;
  margin-top: 0;

  .video{
    margin-bottom: 30px;
    .popup-video{
      display: inline-block;
      background: url('#{$image-theme-path-base}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: $black;
  }
  .title{
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
  }
  .job{
    font-size: 12px;
  }
}

.testimonial-node-v6{
  background: #F6F6F6;
  padding: 35px 30px;
  .quote{
    margin-bottom: 20px;
    color: #999999;
    text-indent: 30px;
    position: relative;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: -28px;
      top: -10px;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
    }
  }
  .info{
    position: relative;
    padding-left: 20px;
    &:after{
      content: "";
      @include size(3px, 20px);
      background: $theme-color;
      position: absolute;
      top: 4px;
      left: 0;
      z-index: 1;
    }
    .title{
      color: $black;
      font-weight: 600;
      font-size: 16px;
    }
  }
}



.view-testimonial-v2{
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme-color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme-color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 600;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}